/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* utils */

.bg-orange {
	background-color: #FF6900;
}


.bg-green {
	background-color: green;
}

.bg-gold {
	background-color: gold;
}

.border-black {
	border: 1px solid black;
}

.justify-content-center {
	justify-content: center;
}

.h-500 {
	height: 500px;
}


/* header */

header {
	width: 100%;
	position: fixed;
}

.header-container {
	display: flex;
    align-items: center;
    justify-content: space-around;
	padding: 20px;
	box-shadow: 0 2px 2px rgb(117, 117, 117);
}


.header-gender-links {
}

.header-gender-links a{
	font-weight: 600;
	font-size: 10px;
	text-decoration: none;
	color: white;
	padding-right: 5px;
}

.header-user-links {
}

.header-user-links i{
	font-weight: 600;
	font-size: 10px;
	text-decoration: none;
	color: white;
	padding-right: 5px;
}

#boolean-logo {
	height: 25px;
}

/* main */

main {
	padding-top: 100px;
	margin: 0px 10px;
}

.main-container {
	max-width: 1200px;
	margin: 0 auto;
	
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-33 {
	width: calc(100% / 3);
}

/* cards */

.card img{
	position: relative;
	width: 100%;
}

.discount {
	position: absolute;
	padding: 10px;
	color: white;
}